<ion-header>
    <ion-toolbar>
        <ion-title>News</ion-title>
    </ion-toolbar>

</ion-header>

<ion-content color="dark">
    <img src="https://wallpapercave.com/wp/wp6374416.jpg" style="width: 100%;">
    <div class="row">
        <div class="leftcolumn">
            <div class="card">
                <h2>Hot topic</h2>
                <h5>Trending on Sports, Dec 01, 2020</h5>
                <div class="fakeimg" style="height:200px;">
                    <img src="https://images.cafonline.com/image/private/t_photogallery_3x/caf-prd/odhfytbudxpwa1nxnpju.jpg" style="width: 100%;">
                </div>
                <p>Breaking News</p>
                <p>Mamelodi Sundowns Won!</p>
            </div>
            <div class="card">
                <h2></h2>
                <h5>The Best Of The Rest, Dec 20, 2020</h5>
                <div class="fakeimg" style="height:200px;">
                    <img src="https://cdn.soccerladuma.co.za/cms2/image_manager/uploads/News/690266/7/default.jpg" style="width: 100%;">
                </div>
                <p>Messi Failed</p>
                <p>The term "GOAT" is a widely used in the world of sport as an acronym for the "Greatest Of All Time" and is tagged on to only the best of the best in each sporting code.</p>
            </div>
        </div>
        <div class="rightcolumn">
            <div class="card">
                <h2>About teams</h2>
                <div class="fakeimg" style="height:100px;">
                    <img src="https://cdn.soccerladuma.co.za/cms2/image_manager/uploads/News/687340/7/1602755954_04cc3.jpg" style="width: 100%;">
                </div>
                <p>Check out all of TTM’s new signings for the 2020/21 season:


                </p>
            </div>
            <div class="card">
                <h3>Popular Post</h3>
                <div class="fakeimg">
                    <img src="https://wallpaper-house.com/data/out/7/wallpaper2you_141172.jpg" style="width: 100%;">
                </div><br>
                <div class="fakeimg">
                    <img src="https://www.desktopbackground.org/t/2011/01/13/141549_wallpapers-soccer-football-keren-2014_1600x900_h.jpg" style="width: 100%;">
                </div><br>
                <div class="fakeimg">
                    <img src="https://i.dailymail.co.uk/i/newpix/2018/05/16/18/4C5403CE00000578-0-image-m-15_1526490873671.jpg" style="width: 100%;">
                </div>
            </div>
            <div class="card">
                <h3>Follow Me</h3>
                <ion-icon name="logo-facebook"></ion-icon>
                <ion-icon name="logo-whatsapp"></ion-icon>
                <ion-icon name="logo-twitter"></ion-icon>
                <ion-icon name="logo-instagram"></ion-icon>


            </div>
        </div>
    </div>

    <!-- <div class="footer">
        <h2>Footer</h2>
    </div> -->
</ion-content>